/*the container must be positioned relative:*/
/*.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }*/
  
  /*input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }*/

.autocomplete-items::-webkit-scrollbar{
    width: 25px;
}
.autocomplete-items::-webkit-scrollbar-track {
   border: 7px solid #232943;
   -webkit-box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}

 .autocomplete-items::-webkit-scrollbar-thumb{
     background: linear-gradient(
            45deg,
            #06dee1,
            #79ff6c
         );
     border-radius: 3px;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #2f3640;
        /*border-bottom: none;
    border-top: none;*/
        background-color: #2f3640;
        z-index: 999;
        border-radius: 30px;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
        max-height: 200px;
        overflow-y: auto;
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #2f3640;
        border: inherit;
        border-radius: 30px;
        color: white;
        
    }
  
  /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: rgb(14, 224, 200);
            color:white;
        }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }